<section>
    <ul class="pokemons">
        <li *ngFor="let pokemon of pokemons" class="pokemon">
                <span class="number">#{{pokemon.id}}</span>
                <span class="name">{{pokemon.name}}</span>
                    <div>
                        <ol class="types">
                            <li *ngFor="let type of pokemon.types" class="type" [ngClass]="type.type.name">{{type.type.name}}</li>
                        </ol>
                    </div>
                <img class="poke-img" src="{{pokemon.sprites.front_default}}">
        </li>
    </ul>
</section>
